.content
  .group
    = link_to "グループ制作",new_group_path,class:'btn1'
  .header
    .header__name
      マイネーム:
      =current_user.name
    .header__home
      .header__home__font
        グループチャット
    .header__icon
      .header__icon__cog
        =link_to "サインアウト", destroy_user_session_path, method: :delete, class: 'btn'
      .header__icon__cogs
  .left-side
    .left-side__content
      .left-side__content__form
        グループ検索
        = form_with(url: search_messages_path,method: :get, local: true ) do |f|
          = f.text_field :name
          = f.submit :search
        .left-side__content__form__name
          Name
          - @groups.each do |group|
            = group.name
 
      .left-side__content__group
        - current_user.groups.each do |group|
          .left-side__content__group__groups
            = link_to group_chats_path(group) do
              .left-side__content__group__groups__name
                = group.name
              .left-side__content__group__groups__text
                = group.show_last_message
        

